<ion-tabs>

  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="tab1">
      <ion-icon name="flash"></ion-icon>
      <ion-label>SCAN</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2">
      <ion-icon name="battery-full"></ion-icon>
      <ion-label>KILOWATT</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
