<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Kilowatt</ion-title>
    <ion-buttons slot="end">
      <ion-button (click) ="addItem()">
        <ion-icon slot="icon-only" name="add"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content padding>
  <ion-card>
    <ion-card-header class="center_align">
      <ion-card-title>Blue Energy: {{blueImageToShowInteger}} bars</ion-card-title>
    </ion-card-header>

    <ion-card-content>
        <img src="{{blueImgSrc}}" (click)="handleBlueItems(true)"/>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              50w
            </div>
          </ion-col>
          <ion-col>
            <div>
              100w
            </div>
          </ion-col>
          <ion-col>
            <div>
              150w
            </div>
          </ion-col>
          <ion-col>
            <div>
              200w
            </div>
          </ion-col>
          <ion-col>
            <div>
              250w
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>

  </ion-card>
  <ion-card>
    <ion-card-header class="center_align">
      <ion-card-title>Gold Energy : {{goldImageToShowInteger}} bars</ion-card-title>
    </ion-card-header>

    <ion-card-content>
      <img src="{{goldImgSrc}}" (click)="handleGoldItems()"/>
      <ion-grid>
        <ion-row>
          <ion-col>
            <div>
              250w
            </div>
          </ion-col>
          <ion-col>
            <div>
              500w
            </div>
          </ion-col>
          <ion-col>
            <div>
              750w
            </div>
          </ion-col>
          <ion-col>
            <div>
              1000w
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>

    </ion-card-content>

  </ion-card>
</ion-content>
