<ion-header class="center_align">
	<ion-toolbar color="primary">
		<ion-title>
			Enyosolutions Demo
		</ion-title>
	</ion-toolbar>
</ion-header>
<ion-content ion-padding>
	<div class="center_align" style="margin-top: 50px;">
		<ion-grid>
			<ion-row>
				<ion-col size="12">
					<ion-item>
						<ion-label>Enable Duplicate Bar Codes</ion-label>
						<ion-toggle [(ngModel)]="itemService.enableDuplicates"></ion-toggle>
					</ion-item>
				</ion-col>
			</ion-row>
			<ion-row>
				<ion-col size="6">
					<ion-button (click)="scanCode()">
						<ion-icon slot="start" name="qr-scanner"></ion-icon>
						Scan
					</ion-button>
				</ion-col>
				<ion-col size="6">
					<ion-button (click)="clearCode()" color="danger">
						<ion-icon slot="start" name="close"></ion-icon>
						Clear
					</ion-button>
				</ion-col>
			</ion-row>
		</ion-grid>

		<h2>OR</h2>
		<div *ngIf="scannedData">
			<ion-item>
				<ion-label position="floating">Barcode Value</ion-label>
				<ion-input value='{{ scannedData["text"] }}'></ion-input>
			</ion-item>
			<ion-item>
				<ion-label position="floating">Barcode Format</ion-label>
				<ion-input value='{{ scannedData["format"] }}'></ion-input>
			</ion-item>
		</div>

		<div *ngIf="!scannedData">
			<ion-item class="center_align">
				<ion-label position="floating">Enter Barcode Manually</ion-label>
				<ion-input [(ngModel)]="customBarCode"></ion-input>
			</ion-item>
		</div>

		<ion-button *ngIf="scannedData || customBarCode " color="success" style="margin-top:20px" (click)="createItem()">
			<ion-icon slot="start" name="cloud-upload"></ion-icon>
			Upload Bar Code
		</ion-button>
	</div>
</ion-content>

